:root{
    --color_fondo: rgb(85, 13, 14);
    --color_texto: rgba(255, 255, 255, 0.829);
    --color_fondo_link: rgba(255, 217, 0, 0.587);

}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}



@media (min-width: 601px){
    .header input{
        font-size: 1.3vw;
        width: 30vw;
    }

    .carritoCompras, .buscar, .inicio{
        font-size: 2vw;
    }

    main{
        padding: 1.3rem 3vw 5rem 3vw;
        gap: 2rem;
    }

    .peliculaPopular{
        view-timeline-name: --image;
        view-timeline-axis: block;
        animation-timeline: --image;
        animation-name: show;
        animation-range: entry 25% cover 50%;
        animation-fill-mode: both;
    }

    .titulo{
        font-size: 4vw;
    }

    .subtitulo{
        font-size: 2.5vw;
    }

    .peliculaPopular{
        width: 20%;
    }
    .imagenCartelera{
        width: 10vw;
        border-radius: 1rem;
    }

    .anteriorPopular, .siguientePopular{
        font-size: 3vw;
    }

    .imagenPopular{
        border-radius: 2rem;
    }

    .imagenInformacion{
        width: 50%;
        border-radius: 2rem;
    }

    .peliculaInformacion{
        width: 60vw;
        margin: 0 20vw;
        gap: 3vw;
    }

    .peliculaInformacion h2{
        font-size: 1.6vw;
    }
    
    .peliculaInformacion p{
        padding-bottom: 1rem;
        font-size: 1.1vw;
    }

    .contenedorInformacion{
        gap: 1rem;
    }

    .carrito{
        font-size: 1.1vw;
        border-radius: 2rem;
        padding: 0.5rem 0;
        width: 7vw;
    }

    .productosCarrito{
        gap: 2rem;
    }

    .imagenCarrito{
        width: 5vw;
        border-radius: 1rem;
    }
    
    .textoCarrito{
        width: 25vw;
    }

    .eliminar{
        font-size: 1.2vw;
    }

    .precio{
        padding-right: 3vw;
    }
    
    .precio, .textoCarrito{
        font-size: 1.2vw;
    }
}



@media (max-width: 601px){
    .header input{
        font-size: 3.5vw;
        width: 50vw;
    }

    .carritoCompras, .buscar, .inicio{
        font-size: 5vw;
    }

    main{
        padding: 0.7rem 3vw 2rem 3vw;
        gap: 1.7rem;
    }

    .titulo{
        font-size: 10vw;
    }

    .subtitulo{
        font-size: 6.5vw;
    }

    .peliculaPopular{
        width: 40%;
    }

    .imagenCartelera{
        width: 20vw;
        border-radius: 1rem;
    }
    .anteriorPopular, .siguientePopular{
        font-size: 6vw;
    }

    .imagenPopular{
        border-radius: 1rem;
    }

    .imagenInformacion{
        width: 50%;
        border-radius: 1rem;
    }

    .peliculaInformacion{
        width: 80vw;
        margin: 0 10vw;
        gap: 4vw;
    }

    .peliculaInformacion h2{
        font-size: 3.5vw;
    }
    
    .peliculaInformacion p{
        padding-bottom: 0.3rem;
        font-size: 3vw;
    }

    .contenedorInformacion{
        gap: 0.5rem;
    }

    .carrito{
        font-size: 3vw;
        border-radius: 1rem;
        padding: 0.4rem 0;
        width: 20vw;
    }

    .productosCarrito{
        gap: 2rem;
    }

    .imagenCarrito{
        width: 15vw;
        border-radius: 1rem;
    }
    
    .textoCarrito{
        width: 40vw;
    }

    .eliminar{
        font-size: 3.5vw;
    }

    .precio{
        padding-right: 3vw;
    }
    
    .precio, .textoCarrito{
        font-size: 3vw;
    }

    .productoCarrito{
        gap: 1rem;
    }
}



body{
    background-color: var(--color_fondo);
}

.header{
    display: flex;
    justify-content: space-between;
    height: 4rem;
    align-items: center;
    padding: 0 1.5vw;
}

.header input{
    font-family: Arial, Helvetica, sans-serif;
    position: relative;
    outline: none;
    padding: 0.3rem 1.5vw;
    color: gray;
    border: 0.1rem solid white;
    box-shadow: 0 0 0.5rem black;
    border-radius: 1em;
    filter: opacity(0.8);
}

.header span{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 2vw;
}

.header form{
    display: flex;
    align-items: center;
    gap: 1vw;
}

main{
    display: flex;
    flex-direction: column;
}

.peliculasPopular{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 5vw;
}

@keyframes show {
    from{
        opacity: 0;
        scale: 25%;
    }
    to{
        opacity: 1;
        scale: 100%;
    }
}

.peliculaPopular{
    list-style-type: none; 
    align-items: center;
    display: flex;
}

.popular span{
    display: flex;
    align-items: start;
}

.imagenPopular{
    width: 100%;
    box-shadow: 0 0 1rem rgba(0, 0, 0, 0.708);
    transition-property: scale;
    transition-duration: 0.5s;
}

.imagenPopular:hover, .imagenCartelera:hover{
    scale: 1.05;
}

.peliculasCartelera{
    display: flex;
    gap: 1.5vw;
    overflow-x: scroll;
    padding: 1rem 1vw;
}

.peliculaCartelera{
    list-style-type: none;
    align-items: center;
    display: flex;
}

.imagenCartelera{
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.708);
    transition-property: scale;
    transition-duration: 0.5s;
}

.titulo{
    text-align: center;
    background: radial-gradient(white, rgba(0, 0, 0, 0.688));
}

.subtitulo{
    background: radial-gradient(white, rgb(173, 161, 161));
    padding-bottom: 1.5rem;
}

.texto{
    letter-spacing: 0.3vw;
    color: white;
    font-weight: bolder;
    font-family: Arial, Helvetica, sans-serif;
    background-color: white;
    -webkit-text-fill-color: transparent;
    letter-spacing: 0.1em;
    -webkit-background-clip: text;
    background-clip: text;
}

.boton{
    background-color: transparent;
    color: rgba(255, 255, 255, 0.888);
    border: none;
    cursor: pointer;
}

.botonDesactivado{
    display: none;
}

.boton:hover{
    scale: 1.05;
}

.boton:active{
    transform: scale(1.1);
    filter: brightness(1.4);
}

.anteriorPopular, .siguientePopular{
    position: sticky;
    top: 50%;
}

.imagenInformacion{
    box-shadow: 0 0 1rem rgba(0, 0, 0, 0.708);
}

.peliculaInformacion{
    display: flex;
    justify-content: center;
    align-items: center;
}

.contenedorInformacion{
    display: flex;
    flex-direction: column;
}

.contenedorBotonCarrito{
    display: flex;
    justify-content: center;
}

.peliculaInformacion p{
    text-align: justify;
}

.tituloInformacion{
    text-align: center;
}

.carrito{
    text-align: center;
    border: 0.1rem solid black;
    background-color: rgb(229, 152, 51);
}

.carrito:hover{
    filter: brightness(1.2);
    cursor: pointer;
}

.carrito:active{
    scale: 1.03;
}

.peliculasDesactivadas{
    display: none;
}

.productosCarrito{
    display:flex;
    flex-direction: column;
}

.productoCarrito{
    list-style-type: none;
    display: flex;
    align-items: center;
    justify-content: center;
}

.productoCarrito div{
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

.imagenCarrito{
    box-shadow: 0 0 1rem rgba(0, 0, 0, 0.708);
}

.textoCarrito{
    text-align: center;
}

.eliminar:hover{
    color: rgb(215, 18, 18);
}

.precio, .textoCarrito{
    text-align: center;
}

.spanCentrado{
    display: flex;
    justify-content: center;
}

::-webkit-scrollbar {
    width: 0.7rem; /* Ancho de la barra vertical */
    height: 0.7rem; /* Altura de la barra horizontal */
}

/* Fondo de la barra de desplazamiento */
::-webkit-scrollbar-track {
    background: #131212;
    border-radius: 1rem;
}

/* Barra de desplazamiento */
::-webkit-scrollbar-thumb {
    background-color: rgba(255, 255, 255, 0.829); 
    border-radius: 10px; 
}

/* Flecha superior e inferior para barras verticales */
::-webkit-scrollbar-button:vertical:decrement {
    background: url('data:image/svg+xml;base64,...') no-repeat center center; /* Cambia la imagen a una flecha hacia arriba */
}
::-webkit-scrollbar-button:vertical:increment {
    background: url('data:image/svg+xml;base64,...') no-repeat center center; /* Cambia la imagen a una flecha hacia abajo */
}

/* Flecha izquierda y derecha para barras horizontales */
::-webkit-scrollbar-button:horizontal:decrement {
    background: url('data:image/svg+xml;base64,...') no-repeat center center; /* Cambia la imagen a una flecha hacia la izquierda */
}
::-webkit-scrollbar-button:horizontal:increment {
    background: url('data:image/svg+xml;base64,...') no-repeat center center; /* Cambia la imagen a una flecha hacia la derecha */
}